[submodule "extlibs/ton"]
	path = extlibs/ton
	url = https://github.com/broxus/ton.git
[submodule "extlibs/CLI11"]
	path = extlibs/CLI11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "extlibs/cppcodec"]
	path = extlibs/cppcodec
	url = https://github.com/tplgy/cppcodec.git
[submodule "extlibs/json"]
	path = extlibs/json
	url = https://github.com/nlohmann/json.git